# Non OS specific aliases

alias config="/usr/bin/git --git-dir=$HOME/.cfg/ --work-tree=$HOME"

# Tool aliases
alias vi='nvim'
alias vim='nvim'
alias gvim='~/tools/gvim'
alias ff='~/tools/ff'
alias fcd='cd $(~/tools/fcd)'
alias ll='exa -la'
alias md5='openssl md5'
alias sha1='openssl sha1'
alias sha256='openssl sha256'

# Git aliases
alias gs='git status'
alias gd='git diff'
alias gg='git grep'
alias gf='git fetch'
alias ga='git add'
alias gl='git log'
alias glo='git log --oneline'
alias gc='git commit'
alias gca='git commit --amend'
alias gp='git fetch && git pull'
alias gpr='git fetch && git pull --rebase'
