function fish_title
    echo " "
end

function rebase-this-feature-branch-on-to --description="Rebases THIS branch on to a specified branch"
	set main_branch mainline
	set feature_branch (git rev-parse --abbrev-ref HEAD)
	echo "Rebasing '$feature_branch' on to '$main_branch'"
	git checkout $main_branch
	git fetch
	git pull --rebase
	git checkout $feature_branch
	git fetch
	git rebase $main_branch
	git checkout $main_branch
	git rebase $branch
end

